canvas {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #ffffff;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}